<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="eclipse.connection.profile">iot17</property>
<!-- 		<property name="connection.url">jdbc:microsoft:sqlserver://localhost:1433;DatabaseName=firsthibernate</property> -->
<!-- 		<property name="connection.url">jdbc:sqlserver://class02\SQLEXPRESS;databaseName=lv215work</property> -->
		<property name="connection.url">jdbc:jtds:sqlserver://CLASS02/iot17;instance=SQLEXPRESS;</property>
<!-- 		<property name="connection.url">jdbc:mysql://localhost:3306/lv215Test</property> -->
		<property name="connection.username">db223</property>
		<property name="connection.password">db223</property>
<!-- 		<property name="connection.username">root</property> -->
<!-- 		<property name="connection.password">root</property> -->
		<!-- property name="hbm2ddl.auto">create</property -->
		<property name="hbm2ddl.auto">update</property>
		<property name="connection.driver_class">
<!-- 				com.mysql.jdbc.Driver -->
			net.sourceforge.jtds.jdbc.Driver
<!-- 			com.microsoft.sqlserver.jdbc.SQLServerDriver -->
		</property>
		<property name="dialect">
<!-- 			org.hibernate.dialect.MySQLDialect -->
			org.hibernate.dialect.SQLServerDialect
		</property>
		<mapping resource="com/softserve/edu/Honey.hbm.xml" />
	</session-factory>
</hibernate-configuration>
